.complaintResponses{margin-bottom:15px;}
.border-grey{border:1px solid #ccc;}
.daterange{width:320px;}
.textwidth{width:150px;height:30px;}
.complaint-content-scroll{margin-top:9px;max-height:80px;overflow:auto;}
.margin-top9{margin-top:9px;}